
@{
    ViewBag.Title = "View";
}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Web Pages Demo</title>
</head>
<body>
    
    <h1>Try this Render Page </h1>
   
</body>
</html>


